:root {
    --celeste: #00b4d8;
    --error: #f91919;
}

/******************* COMPONENTES PRINCIPALES *******************/
body {
    margin: 0;
    font-family: 'Inter';
    background-color: var(--celeste);
}

h1 {
    font-size: 2.2rem;
    margin-bottom: 0.5rem;
}

h2 {
    font-weight: 500;
}

main {
    display: flex;
    padding: 0.5rem;
    justify-content: center;
    background-color: var(--celeste);
}

/******************* NAV BAR *******************/
.nav-container {
    display: flex;
    justify-content: flex-end;
    padding: 1rem 2rem;
}

.nav-container a {
    color: white;
}

.nav-container ul {
    margin: 0;
    list-style: none;
    font-size: 1.2em;
}

.contenido {
    background-color: white;
    padding: 2rem;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

/******************* BOTONES Y LINKS *******************/ 
a {
    font-weight: bold;
    color: var(--celeste);
    text-decoration: none;
}

button {
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    width: 400px;
    background-color: var(--celeste);
    color: white;
    border: none;
    padding: 0.7rem;
    font-weight: bold;
    font-size: 1.3rem;
    border-radius: 15px;
}

button:hover {
    background-color: #0077b6;
    transform: scale(1.05);
}

/******************* FORMS *******************/
form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 400px;
    margin: auto;
    padding: 1rem;
}

form label {
    font-weight: bold;
    color: #023e8a;
}

form input {
    width: 100%;
    padding: 0.6rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
}

form input:focus {
    border-color: var(--celeste);
    outline: none;
}

/******************* ERRORES *******************/
form small {
    font-size: 14px;
    margin-top: 5px;
    color: var(--error);
}

form input.error {
  border-color: var(--error);
}

form .formulario {
    margin-bottom: 15px;
}