/******************* COMPONENTES PRINCIPALES *******************/
body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #00b4d8;
}

h1 {
    font-size: 2.2rem;
    margin-bottom: 0.5rem;
}

h2 {
    font-weight: 500;
}

main {
    display: flex;
    padding: 10rem;
    justify-content: center;
    align-items: center;
    background-color: #00b4d8;
}

/******************* NAV BAR *******************/
.nav-container {
    display: flex;
    justify-content: flex-end;
    padding: 1rem 2rem;
}

.nav-container a {
    color: white;
    font-weight: bold;
    display: block;
}

.nav-container ul {
    margin: 0;
    list-style: none;
    font: 1.2em sans-serif;
    display: flex;
}

.contenido {
    background-color: #f0f4f8;
    padding: 5rem;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

/******************* BOTONES Y LINKS *******************/ 
button,
a {
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

button {
    width: 400px;
    background-color: #00b4d8;
    color: white;
    border: none;
    padding: 0.7rem 4rem;
    font-weight: bold;
    font-size: 1.3rem;
    border-radius: 20px;
}

button:hover {
    background-color: #0077b6;
    transform: scale(1.05);
}

/******************* FORMS *******************/
form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 400px;
    margin: auto;
    padding: 1.5rem;
}

form label {
    align-self: flex-start;
    font-weight: bold;
    color: #023e8a;
    margin-bottom: 0.2rem;
}

form input {
    width: 100%;
    padding: 0.6rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
}

form input:focus {
    border-color: #00b4d8;
    outline: none;
}

/******************* ERRORES *******************/
form small {
    font-size: 14px;
    margin-top: 5px;
    display: block;
    color: #f91919;
}

form input.error,
form select.error {
  border-color: #f91919;
  background: #f9f0f1;
}

form .form-group {
    margin-bottom: 15px;
    position: relative;
  }