<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trackeo de gastos</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <script src="../static/js/validarPresupuesto.js"></script>
</head>
<body>
    <nav class="nav-container">
        <ul>
          <li class="push"><a href="login.html">Iniciar sesión</a></li>
        </ul>
    </nav>

    <main>
        <div class="contenido">
            <h1>Trackeo de gastos</h1>

            <form action="/presupuestos" method="GET">
                <div class="formulario monto">
                    <label for="presupuesto">Ingrese el presupuesto a buscar:</label>
                    <input type="text" id="presupuesto" name="presupuesto">
                </div>

                <button type="submit">Buscar presupuesto</button>
            </form>

            <h2>Lista de presupuestos:</h2>

            <a href="../index.html">
                <button>Volver al inicio</button>
            </a>
        </div>
    </main>
</body>
</html>