<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trackeo de gastos</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <header>
        <a href="#">Nombre de Usuario</a>
    </header>

    <main>
        <h1>Trackeo de gastos</h1>

        <h2>Lista de presupuestos:</h2>

        <a href="../index.html">
            <button>Volver al inicio</button>
        </a>
    </main>
</body>
</html>