<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trackeo de gastos</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <main>
        <div class="contenido">
            <h1>Iniciar sesión</h1>

            <form action="../index.html" method="GET">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email">
                <span class="error-email"></span>

                <label for="contraseña">Contraseña:</label>
                <input type="password" id="contraseña" name="contraseña">
                <span class="error-contraseña"></span>

                <button type="submit">Iniciar sesión</button>
            </form>

            <a href="#">¿Olvidó su contraseña?</a>
            <br><br>
            <a>Crear usuario</a>
        </div>
    </main>
</body>
</html>