<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trackeo de gastos</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
</head>
<body>
    <main>
        <div class="content">
            <h1>Iniciar sesión</h1>

            <form action="../index.html" method="GET">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email">
                <span class="error-email"></span>

                <label for="contrasenia">Contraseña:</label>
                <input type="password" id="contrasenia" name="contrasenia">
                <span class="error-contrasenia"></span>

                <button type="submit">Iniciar sesión</button>
            </form>

            <a href="#">¿Olvidó su contraseña?</a>
            <br><br>
            <a href="#">Crear usuario</a>
        </div>
    </main>
</body>
</html>