<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <nav class="nav-container">
        <ul>
          <li><a href="">Inicio</a></li>
          <li class="push"><a href="">Iniciar sesión</a></li>
        </ul>
    </nav>

    <main>
        <h1>Trackeo de gastos</h1>

        <form action="nuevo-gasto.html" method="GET">
            <label for="nombre-presupuesto">Nombre presupuesto:</label>
            <input type="text" id="nombre-presupuesto" name="nombre-presupuesto" required">

            <button type="submit">Crear presupuesto</button>
        </form>

        <a href="../index.html">
            <button>Volver al inicio</button>
        </a>
    </main>
</body>
</html>